*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/bg.jpg);
    background-size: 100% 100%;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main1{
    width: 400px;
    height: 520px;
    box-shadow: 0 0 10px 1px grey;
}
button{
    flex: 1;
    font-size: 1.4rem;
    color: white;
    border: 1px solid #504f4f;
    outline: none;
}
.topbar{
    width: 100%;
    font-size: 0.8rem;
    background-color: #303030;
    color: white;
    border: none;
    outline: none;
}
.res{
    width: 100%;
    height: 100px;
    background-color: #303030;
    font-size: 2rem;
    color: white;
    text-align: right;
    outline: none;
    border: none;
}
.main2{
    width: inherit;
    height: 90px;
    display: flex;
    justify-content: center;
}
.main3{
    width: inherit;
    height: 40px;
    display: flex;
    justify-content: center;
}
.main4{
    background-color: #101011;
    color: white;
}
.oper{
    background-color: #303030;
}
#clearbutton{
    font-size: 1rem;
}


